/* src/HeroSection.css */
.hero-container {
  display: flex; 
  align-items: center; 
  justify-content: center; 
  padding: 20px;
  margin-top: 200px;
}

.hero-content {
  display: flex; 
  align-items: center;
}

.hero-image {
  width: 200px; /* Set the width of the image */
  height: 200px; /* Set the height of the image */
  border-radius: 50%; /* Round the corners to make it circular */
  margin-right: 20px; /* Add some space between the image and the text */
  object-fit: cover; /* Ensure the image covers the area */
}

.hero-text {
  text-align: left;
}

.hero-buttons {
  margin-top: 20px;
}

.btn {
  margin: 5px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  outline: none;
}

.btn-primary {
  background-color: yellow;
  color: black;
}

.btn-secondary {
  background-color: rgb(46, 179, 46);
  color: white;
}
